<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DinerMax3000.Business.Properties.Settings.AdventureWorksConnectionString"
            connectionString="Data Source=tcp:rombo84fx.database.windows.net,1433;Initial Catalog=AdventureWorks;Persist Security Info=True;User ID=rombo84fx;Password=3jNVz27d"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WeatherSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="WeatherSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://wsf.cdyne.com/WeatherWS/Weather.asmx"
                binding="basicHttpBinding" bindingConfiguration="WeatherSoap"
                contract="CDyne.WeatherSoap" name="WeatherSoap" />
        </client>
    </system.serviceModel>
</configuration>