body {
    background-color : lightblue;
}

.Navigation{
    padding : 30px;
    margin : 10px 0 0 10px;
    font-size : x-large;
}

.MenuGridViews, .MenuGridViews td, .MenuGridViews  th {
    border : none;
}

.MenuHeadings {
    color : #FF0000;
    font-size : x-large;
}