<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <connectionStrings>
    <add name="DinerMax3000.Business.Properties.Settings.AdventureWorksConnectionString"
        connectionString="Data Source=tcp:rombo84fx.database.windows.net,1433;Initial Catalog=AdventureWorks;Persist Security Info=True;User ID=rombo84fx;Password=3jNVz27d"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WeatherSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="WeatherSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://wsf.cdyne.com/WeatherWS/Weather.asmx"
          binding="basicHttpBinding" bindingConfiguration="WeatherSoap"
          contract="CDyne.WeatherSoap" name="WeatherSoap" />
    </client>
  </system.serviceModel>
</configuration>
