<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
        <add name="DinerMax3000.Business.Properties.Settings.AdventureWorksConnectionString"
            connectionString="Data Source=tcp:rombo84fx.database.windows.net,1433;Initial Catalog=AdventureWorks;Persist Security Info=True;User ID=rombo84fx;Password=3jNVz27d"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>